@import "~slick-carousel/slick/slick.css";
@import "~slick-carousel/slick/slick-theme.css";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.wrapper {
    position: relative;
    font-family: 'Montserrat';
    font-style: normal;
    background-color: #323030;
}

.slick-list {
    margin: auto !important;
}

.slick-dots li button:before {
    color: gray !important;
}

.slick-dots li.slick-active button:before {
    color: white !important;
}